<div fxLayout="column" fxFlex>
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="toggleSide()">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-button routerLink="/">
            <span>Some title</span>
          </button>
          <span class="spacer"></span>
                <button mat-button>Home</button>
                <button mat-button>Settings</button>
                <button mat-button [matMenuTriggerFor]="menu">Themes</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let theme of themes" (click)="onSelect(theme)">{{theme.name}}</button>
                </mat-menu>
          <button mat-button (click)="onLogout()">
            Logout
          </button> 
        </mat-toolbar>
</div>

