<mat-sidenav-container class="example-container">
                <mat-sidenav #sidenav mode="side" [(opened)]="open" [disableClose]="false" class="example-sidenav">
                                <mat-list>
                                        <app-sidenav></app-sidenav>
                                </mat-list>
                        </mat-sidenav>
        <mat-sidenav-content>
                <div class="fixed-header">
                     <app-header (notify)='onNotify($event)'></app-header>
                </div>
                <div class="main-content">
                        <div class="container-fluid">
                                <app-breadcrumb></app-breadcrumb>
                                <router-outlet></router-outlet>
                        </div>
                </div>
        </mat-sidenav-content>
</mat-sidenav-container>