<div class="card">
        <div class="card-header">
                <div class="col-md-12">
                        <app-file-upload [albumId]="albumId" (notify)="receiveMessage($event)"></app-file-upload>
                </div>
        </div>
    <div class="card-body">
            <!-- <mat-grid-list [cols]="4" rowHeight="450px;">
                    <mat-grid-tile *ngFor="let photo of photos" (click)="onSelect(album)">
                        <mat-card class="example-card">
                            <mat-card-header>
                              <mat-card-title>{{photo.name}}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image [src]="photo.secureUrl" [title]="photo.name" [alt]="photo.name" style="width:300px;height:280px;">
                            <mat-card-actions>
                                <i class="material-icons float-sm-left" >favorite</i>
                                <i class="material-icons float-sm-right">share</i>
                            </mat-card-actions>
                          </mat-card>
                    </mat-grid-tile>
                  </mat-grid-list> -->
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                        <mat-card class="card-picture" *ngFor="let photo of photos">
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                        <span fxFlex="80%">{{photo.name}}</span>
                        <mat-icon fxFlex="10%">mode_edit</mat-icon>
                        <mat-icon fxFlex="10%">delete</mat-icon>
                        </mat-card-title>
                        <img mat-card-image [src]="photo.secureUrl" [title]="photo.name" [alt]="photo.name">
                        </mat-card>
                </div>
    </div>
</div>

