$anms-light-primary: mat-palette($mat-blue, 500, 100, 900);
$anms-light-accent: mat-palette($mat-light-blue, 500,200,A100);
$anms-light-warn: mat-palette($mat-deep-orange, 200);

$anms-light-theme: mat-light-theme(
  $anms-light-primary,
  $anms-light-accent,
  $anms-light-warn
);

$side-nav-light-background:(rgba(63, 81, 181, 0.61));

.light-theme{
  @include angular-material-theme($anms-light-theme);
  .example-sidenav{
    background: $side-nav-light-background;
  
    .mat-list-item{
        color: white;
  
        .mat-icon{
            margin-right: 10px;
        }
    }
  }
}

