$anms-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$anms-nature-accent: mat-palette($mat-amber, 500);
$anms-nature-warn: mat-palette($mat-red, 600);

$anms-nature-theme: mat-light-theme(
  $anms-nature-primary,
  $anms-nature-accent,
  $anms-nature-warn
);

$side-nav-nature-background:(#D7CCC8);

.nature-theme{
  @include angular-material-theme($anms-nature-theme);

  .example-sidenav{
    background: $side-nav-nature-background;
  
    .mat-list-item{
        color: white;
  
        .mat-icon{
            margin-right: 10px;
        }
    }
  }
}


