<div class="row">
  <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-header">
          <div class="col-md-12">
              <h4>Albums <button class="float-sm-right" mat-raised-button (click)="openDialog()">Add Album</button></h4>
              <div *ngIf="errorMessage" class="alert alert-warning">
                {{errorMessage}}
              </div>
          </div>
        </div>
        <div class="card-body">
            <mat-grid-list [cols]="cols | async" rowHeight="450px;">
                <mat-grid-tile *ngFor="let album of albums" (click)="onSelect(album)">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="material-icons">photo_album</div>
                          <mat-card-title>{{album.name}}</mat-card-title>
                          <mat-card-subtitle>{{album.createdBy}} | {{album.addedOn | date}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image [src]="album.coverImage" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            some funny text
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <i class="material-icons float-sm-left" >favorite</i>
                            <i class="material-icons float-sm-right">share</i>
                            <i class="material-icons">{{album.imageCount}} photo_library</i>
                        </mat-card-actions>
                      </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
        </div>
    </div>
  </div>
</div>

